<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
    <!-- 1.Database connection settings -->
    
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/projectdatabase</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        
        
     <!-- JDBC connection pool(use built in) 2 hibernate specific configuration -->
     
        <property name="connection.pool_size">1</property>
        
        
        <property name="current_session_context_class">thread</property> 
        
        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and recreate the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Mapping configuration -->
        
        <!-- two entity classes to one table -->
        
        <mapping class="com.virtusa.hibernate.entity.AdminDetails" /> 
        
         <!-- one entity classes to two tables -->

      <mapping class="com.virtusa.hibernate.entity.Author" /> 
        
         <!-- Inheritance-->
         
        <mapping class="com.virtusa.hibernate.entity.BookSummary" /> 
           <mapping class="com.virtusa.hibernate.entity.Book" />
           
           <!-- Composite key -->
          <mapping class="com.virtusa.hibernate.entity.DeveloperCompositeKey" />
    
    </session-factory>
</hibernate-configuration>